@model Automapping.Models.Contact

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidentialComplex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidentialComplex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeStreet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeStreet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingPart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingPart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ContactId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
