@model IEnumerable<Automapping.ViewModels.ProjectViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
<thead>
<tr>
<th>
    @Html.DisplayNameFor(model => model.OrderValue)
</th>
    <th>
        @Html.DisplayNameFor(model => model.FioDesigner)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderValue)
    </td>
        <td>
            @Html.DisplayFor(modelItem => item.FioDesigner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}
</tbody>
</table>