@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IQueryable<Presentation.ViewModels.BranchViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BranchId)
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.FirstOrDefault().Name))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.FirstOrDefault().Phone))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.FirstOrDefault().IsOpen))
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOpen)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.BranchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BranchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
