@using Microsoft.EntityFrameworkCore
@model IQueryable<Presentation.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "List of users";
    
}

<h1>List of users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserRoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().RoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MediatorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MakerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LastUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BranchId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchId)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a> |
                <a asp-controller="Projects" asp-action="CreateFromUser"  asp-route-userid="@item.UserId" asp-route-branchid="@item.BranchId">Create project</a> |
                <a asp-controller="ContactUsers" asp-action="CreateFromUser" asp-route-id="@item.UserId">Create contact</a>
            </td>
        </tr>
}
    </tbody>
</table>
