@using Microsoft.EntityFrameworkCore
@model Presentation.ViewModels.UserBranchViewModel

@{
    ViewData["Title"] = "List of users 2";
    
}

<h1>List of users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsersBranches.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersBranches.FirstOrDefault().UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchesUsers.FirstOrDefault().BranchName)
            </th>
        </tr>
    </thead>
    <tbody>
      
        @foreach (var item in Model.UsersBranches) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                    @{
                        string rez = @Model.BranchesUsers.Where(x => x.BranchId == item.BranchId).FirstOrDefault().BranchName;
                    }
                    @Html.DisplayFor(modelItem => rez)
            </td>
           
            <td>
                <a asp-action="Update" asp-route-id="@item.UserId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a> |
                    <a asp-controller="Projects" asp-action="CreateFromUser" asp-route-userid="@item.UserId" asp-route-branchid="@item.BranchId">Create project</a> |
                    <a asp-controller="ContactUsers" asp-action="CreateFromUser" asp-route-id="@item.UserId">Create contact</a>
            </td>
        </tr>
}
    </tbody>
</table>
